// Theme
$theme_font: 'Roboto';
$theme_font_weight: normal;
$theme_font_size: 14px;
$theme_bg_color: #feffff;
$theme_transition: all .2s ease-out;

// Color
$colorPrimaryTitles: #344563;
$colorContent: #5E6C84;

// Color set
$colorScrollbarThumb: #3f51b5;
$colorScrollbarTrack: #e8e8e8;
